/*기본적인 a tag의 font Color를 지정*/
a {
    color: rgb(65, 220, 225);
}

/*Title처럼 나타내는 a tag는 text decoration이 안되도록 지정*/
#title {
    text-decoration: none;
}

/*tag의 size를 늘리고, 중앙정렬, bottom margin 0*/
#titleH1 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 70px;
    border-bottom: 3px solid rgb(65, 220, 225);
}

#rootDiv {
    display: grid;
    grid-template-columns: 1fr 5fr;
    border-bottom: 3px solid rgb(65, 220, 225);
}

#pageListDiv {
    border-right: 3px solid rgb(65, 220, 225);
}

#contentDiv {
    margin-left: 50px;
    margin-right: 50px;
}

#pageList {
    list-style: none;
    width: max-content;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 40px;
    color: rgb(65, 220, 225);
    font-weight: bold;
    font-size: 20px;
}

#calculatorList {
    list-style: none;
}

#contentHeader {
    text-align: center;
}

li:before {
    content: ">";
    color: rgb(65, 220, 225);
    margin-right: 5px;
}